.form {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    
}

.form__fieldset {
    border: 1px solid rgb(105, 109, 109);

}

.form__legend {
    background-color: palevioletred;
    color: rgb(255, 251, 251);
    border-radius: 10px;
    padding: 3%;
    font-weight: bold;
}

.form__labelText {
    display: inline-block;
    width: 150px;
    margin-right: 35px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 12px -9px #000000;
}

.form__field {
    max-width: 200px;
    padding: 10px;
}

.form__field:required {
    border-color: rgb(224, 107, 107);
}

.form__button {
    max-width: 30%;
    background-color: palevioletred;
    border: none;
    margin-top: 10px;
    padding: 10px;
    color: rgb(255, 251, 251);
    border-radius: 10px;
    font-weight: bold;
}

.form__button:hover {
    background-color: rgb(206, 50, 102);
    box-shadow: 10px 10px 21px -6px #F25292;
}

.form__paragraph {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 254, 254);
    border: 1px solid black; 
    box-shadow: 5px 5px 12px -9px #000000;
    min-height: 40px;
}