.form {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
}

.form__fieldset {
    border: none;
}

.form__legend {
    background-color: palevioletred;
    color: rgb(255, 251, 251);
    border-radius: 10px;
    padding: 3%;
    font-weight: bold;
}

.form__labelText {
    display: inline-block;
    width: 150px;
    margin-right: 35px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 12px -9px #000000;
}

.form__field {
    padding: 10px;
}

.form__field:required {
    border-color: rgb(224, 107, 107);
}

.flex-container {
    display: inline-flex;
    flex-direction: column;
}

.flex-items {
    display: block;
    margin-bottom: 5px;
}