.resultParagraph {
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 254, 254);
    border: 1px solid black; 
    box-shadow: 5px 5px 12px -9px #000000;
}

.form__button {
    border: 1px black solid;
    padding: 10px;
}

.form__button:hover {
    background-color: rgb(129, 126, 127);
    color:lavenderblush;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}